
<?php echo $this->getContent(); ?>

<?php echo $this->tag->form("sitestruchure/save") ?>

<table width="100%">
    <tr>
        <td align="left"><?php echo $this->tag->linkTo(array("sitestruchure", "Back")) ?></td>
        <td align="right"><?php echo $this->tag->submitButton("Save") ?></td>
    </tr>
</table>

<div align="center">
    <h1>Edit sitestruchure</h1>
</div>

<table>
    <tr>
        <td align="right">
            <label for="pagetitle">Pagetitle</label>
        </td>
        <td align="left">
                <?php echo $this->tag->textField(array("pagetitle", "type" => "date")) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="content">Content</label>
        </td>
        <td align="left">
                <?php echo $this->tag->textField(array("content", "type" => "date")) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="url">Url</label>
        </td>
        <td align="left">
                <?php echo $this->tag->textField(array("url", "type" => "date")) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="parent">Parent</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("parent", "type" => "number")) ?>
        </td>
    </tr>

    <tr>
        <td><?php echo $this->tag->hiddenField("id") ?></td>
        <td><?php echo $this->tag->submitButton("Save") ?></td>
    </tr>
</table>

</form>
