
<?php echo $this->getContent() ?>

<div align="right">
    <?php echo $this->tag->linkTo(array("sitestruchure/new", "Create sitestruchure")) ?>
</div>

<?php echo $this->tag->form(array("sitestruchure/search", "autocomplete" => "off")) ?>

<div align="center">
    <h1>Search sitestruchure</h1>
</div>

<table>
    <tr>
        <td align="right">
            <label for="id">Id</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("id", "type" => "number")) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="pagetitle">Pagetitle</label>
        </td>
        <td align="left">
                <?php echo $this->tag->textField(array("pagetitle", "type" => "date")) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="content">Content</label>
        </td>
        <td align="left">
                <?php echo $this->tag->textField(array("content", "type" => "date")) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="url">Url</label>
        </td>
        <td align="left">
                <?php echo $this->tag->textField(array("url", "type" => "date")) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="parent">Parent</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("parent", "type" => "number")) ?>
        </td>
    </tr>

    <tr>
        <td></td>
        <td><?php echo $this->tag->submitButton("Search") ?></td>
    </tr>
</table>

</form>
