<?php use Phalcon\Tag; ?>

<?php echo $this->getContent(); ?>

<table width="100%">
    <tr>
        <td align="left">
            <?php echo $this->tag->linkTo(array("sitestruchure/index", "Go Back")); ?>
        </td>
        <td align="right">
            <?php echo $this->tag->linkTo(array("sitestruchure/new", "Create ")); ?>
        </td>
    </tr>
</table>

<table class="browse" align="center">
    <thead>
        <tr>
            <th>Id</th>
            <th>Pagetitle</th>
            <th>Content</th>
            <th>Url</th>
            <th>Parent</th>
         </tr>
    </thead>
    <tbody>
    <?php foreach ($page->items as $sitestruchure) { ?>
        <tr>
            <td><?php echo $sitestruchure->id ?></td>
            <td><?php echo $sitestruchure->pagetitle ?></td>
            <td><?php echo $sitestruchure->content ?></td>
            <td><?php echo $sitestruchure->url ?></td>
            <td><?php echo $sitestruchure->parent ?></td>
            <td><?php echo $this->tag->linkTo(array("sitestruchure/edit/" . $sitestruchure->id, "Edit")); ?></td>
            <td><?php echo $this->tag->linkTo(array("sitestruchure/delete/" . $sitestruchure->id, "Delete")); ?></td>
        </tr>
    <?php } ?>
    </tbody>
    <tbody>
        <tr>
            <td colspan="2" align="right">
                <table align="center">
                    <tr>
                        <td><?php echo $this->tag->linkTo("sitestruchure/search", "First") ?></td>
                        <td><?php echo $this->tag->linkTo("sitestruchure/search?page=" . $page->before, "Previous") ?></td>
                        <td><?php echo $this->tag->linkTo("sitestruchure/search?page=" . $page->next, "Next") ?></td>
                        <td><?php echo $this->tag->linkTo("sitestruchure/search?page=" . $page->last, "Last") ?></td>
                        <td><?php echo $page->current, "/", $page->total_pages ?></td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>
