<div ng-controller="CampsController" class="login pages" ng-init="campTemplateSetup()">

    <alert ng-repeat="alert in alerts" type="[{[alert.type]}]" close="closeAlert($index)">[{[alert.msg]}]</alert>

	<h1>create campaign</h1>

	<form class="clearfix" name="campaign" novalidate>
        <div class="form-group" ng-class="{ 'has-error' : campaign.name.$invalid && !campaign.name.$pristine }">
            <label class="control-label">Campaign Name</label>
            <input required class="form-control" name="name" ng-model="campaignData.pagetitle" type="text" ng-minlength="3" placeholder="Campaign Name..." />
            <p ng-show="campaign.name.$invalid && !campaign.name.$pristine" class="help-block">Campaign name is required</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : campaign.url.$invalid && !campaign.url.$pristine }">
            <label class="control-label">Campaign URL</label>
            <div class="input-group">
                <span class="input-group-addon">[{[ siteBaseUrl ]}]/</span>
                <input required class="form-control" name="url" ng-model="campaignData.url" type="text" ng-minlength="3" placeholder="eg mycampaign" />
            </div>
            <p ng-show="campaign.url.$invalid && !campaign.url.$pristine" class="help-block">Valid url is required</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : campaign.type.$invalid && !campaign.type.$pristine }">
            <label class="control-label">Campaign Type</label>

            <ui-select name="type" ng-model="campaignData.type" theme="bootstrap" ng-disabled="disabled" title="Campaign Type" required ng-required="true">
                <ui-select-match placeholder="Select a Campign Type...">[{[$select.selected.name]}]</ui-select-match>
                <ui-select-choices repeat="type in types | propsFilter: {name: $select.search}">
                    <div ng-bind-html="type.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>

            <p ng-show="campaign.type.$invalid && !campaign.type.$pristine" class="help-block">Campign type is required.</p>

        </div>
        <div class="form-group" ng-class="{ 'has-error' : campaign.temp.$invalid && !campaign.temp.$pristine }" required ng-required="true">
            <label class="control-label">Campaign Template</label>
            <ui-select name="temp" ng-model="campaignData.temp" theme="bootstrap" ng-disabled="disabled" title="Campaign Template">
                <ui-select-match placeholder="Select a Campign Template...">[{[$select.selected.name]}]</ui-select-match>
                <ui-select-choices repeat="temp in temps | propsFilter: {name: $select.search}">
                    <div ng-bind-html="temp.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>

            <p ng-show="campaign.temp.$invalid && !campaign.temp.$pristine" class="help-block">Campign template is required.</p>
        </div>
        <button class="btn btn-success ladda-button" type="submit" ladda="createLoading" ng-click="updateCampaign(campaignData.$valid)" onClick="return false;" data-style="expand-left"><span class="ladda-label">Update Campaign Page</span></button>
    </form>
</div>