
    <div class="modal-header">
        <h3 class="modal-title">Campaign Configuration</h3>
    </div>
    <div class="modal-body">
        <p><strong>Looks like your setting up a new campaign.</strong></p>
        <p>Please fill out the fields below so we can get your new campaign configured for you to edit:</p>
        <div class="clearfix">
            <form class="clearfix" name="campConfig" novalidate>
                <div class="form-group" ng-class="{ 'has-error' : campConfig.name.$invalid && !campConfig.name.$pristine }">
                    <label class="control-label">Campaign Name</label>
                    <input required class="form-control" ng-model="name" type="text" ng-minlength="3" name="name" placeholder="Campaign Name..." />
                    <p ng-show="campConfig.name.$invalid && !campConfig.name.$pristine" class="help-block">Campaign name is required</p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : campConfig.url.$invalid && !campConfig.url.$pristine }">
                    <label class="control-label">Campaign URL</label>
                    <div class="input-group">
                        <span class="input-group-addon">[{[ siteBaseUrl ]}]/</span>
                        <input required class="form-control" ng-model="url" type="text" ng-minlength="3" name="url" placeholder="eg mycampaign" />
                    </div>
                    <p ng-show="campConfig.url.$invalid && !campConfig.url.$pristine" class="help-block">Valid url is required</p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : campConfig.type.$invalid && !campConfig.type.$pristine }">
                    <label class="control-label">Campaign Type</label>

                    <ui-select ng-model="compConfig.type" name="type" theme="bootstrap" ng-disabled="disabled" title="Campaign Type" required ng-required="true">
                        <ui-select-match placeholder="Select a Campign Type...">[{[$select.selected.name]}]</ui-select-match>
                        <ui-select-choices repeat="type in types | propsFilter: {name: $select.search}">
                            <div ng-bind-html="type.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>

                    <p ng-show="campConfig.type.$invalid && !campConfig.type.$pristine" class="help-block">Campign type is required.</p>

                </div>
                <div class="form-group" ng-class="{ 'has-error' : campConfig.temp.$invalid && !campConfig.temp.$pristine }" required ng-required="true">
                    <label class="control-label">Campaign Template</label>
                    <ui-select ng-model="compConfig.temp" name="temp" theme="bootstrap" ng-disabled="disabled" title="Campaign Template">
                        <ui-select-match placeholder="Select a Campign Template...">[{[$select.selected.name]}]</ui-select-match>
                        <ui-select-choices repeat="temp in temps | propsFilter: {name: $select.search}">
                            <div ng-bind-html="temp.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>

                    <p ng-show="campConfig.temp.$invalid && !campConfig.temp.$pristine" class="help-block">Campign template is required.</p>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success ladda-button" type="submit" ladda="createLoading" ng-click="campConfigSubmit(campConfig.$valid)" ng-disabled="campConfig.$invalid" onClick="return false;" data-style="expand-left"><span class="ladda-label">Create Campaign Page</span></button>
    </div>