@import url(_libs.min.css);
@import url(_golden-bootstrap.css);
/*
	
	## LOVELY SASS STUFF ##

*/
/**
*	Imports
**/
/**
*	Colors
**/
/**
*	Font Setup 
**/
/**
*	Functions 
**/
/* PX -> EM */
/* SASS vertical align placement */
/* BOOTSTRAP HACKS */
.no-gutter > [class*='col-'], .no-gutter {
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0; }

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer; }

.modal-backdrop {
  height: 100%;
  width: 100%; }

.modal-dialog, .modal-content {
  z-index: 9999; }

.left {
  float: left !important; }

.right {
  float: right !important; }

body {
  padding-top: 70px; }

.carousel-control.left, .carousel-control.right {
  background-image: none; }

/* HTML & BODY */
body {
  font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
  font-size: 16px; }

/**
*	SITE - BOOTSTRAP
**/
html {
  position: relative;
  min-height: 100%; }

body {
  /* Margin bottom by footer height */ }

.footer {
  width: 100%;
  /* Set the fixed height of the footer here */
  background-color: #f5f5f5; }

.container .text-muted {
  margin: 20px 0; }

.footer > .container {
  padding-right: 15px;
  padding-left: 15px; }

.bootstrap {
  /* GLOBAL */
  /* HOMEPAGE */
  /* SEARCH */
  /* JOB */ }
  .bootstrap #bs-example-navbar-collapse-1 {
    margin-top: 1%; }
  .bootstrap .public-nav {
    margin-top: 82px;
    margin-top: 5.125rem; }
  .bootstrap .table-responsive table.footable {
    border-collapse: collapse;
    width: 100%; }
    .bootstrap .table-responsive table.footable td {
      white-space: initial; }
  .bootstrap .navbar {
    background: #0099cc;
    border-bottom: #0086b2;
    color: #fff;
    padding: 15px 0px;
    padding: 0.9375rem 0rem; }
    .bootstrap .navbar li a {
      color: #fff; }
    .bootstrap .navbar .navbar-brand {
      color: #fff;
      padding: 3px 15px 15px 0px;
      padding: 0.1875rem 0.9375rem 0.9375rem 0rem; }
      .bootstrap .navbar .navbar-brand img {
        padding: 0px 15px 0px 20px;
        padding: 0rem 0.9375rem 0rem 1.25rem; }
    .bootstrap .navbar img {
      max-width: 100%; }
  .bootstrap .footable tr td:last-child {
    vertical-align: middle; }
  .bootstrap .navbar .dropdown.open .dropdown-toggle {
    background: none; }
  .bootstrap .navbar .nav .open > a, .bootstrap .navbar .nav .open > a:focus, .bootstrap .navbar .nav .open > a:hover {
    background: none; }
  .bootstrap .navbar .dropdown-menu {
    background: #0099cc; }
    .bootstrap .navbar .dropdown-menu li a:hover {
      background: #008AB8; }
  .bootstrap .pages #hero .jumbotron {
    margin-bottom: 90px;
    margin-bottom: 5.625rem; }
  .bootstrap .pages #hero #imaginary_container {
    margin-top: 30px;
    margin-top: 1.875rem; }
  .bootstrap .pages #hero .stylish-input-group .input-group-addon {
    background: white !important; }
  .bootstrap .pages #hero .stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc; }
  .bootstrap .pages #hero .stylish-input-group button {
    border: 0;
    background: transparent; }
  .bootstrap .pages #main #carousel-example-generic, .bootstrap .pages #main a img {
    margin-bottom: 90px;
    margin-bottom: 5.625rem; }
  .bootstrap .pages #sidebar a {
    display: block;
    margin: 0px 0px 90px 0px;
    margin: 0rem 0rem 5.625rem 0rem; }
  .bootstrap .ui-select-bootstrap.ng-dirty.ng-invalid > button.btn.ui-select-match {
    border-color: #D44950; }
  .bootstrap #map {
    width: 100%;
    height: 500px; }
  .bootstrap .tcs {
    font-size: 19px;
    font-size: 1.1875rem; }
  .bootstrap .cvUpload {
    text-align: center; }
    .bootstrap .cvUpload .email {
      height: auto; }
      .bootstrap .cvUpload .email p {
        font-size: 21px;
        font-size: 1.3125rem; }
    .bootstrap .cvUpload .uploader {
      border-right: 1px solid #e5e5e5; }
    .bootstrap .cvUpload figure, .bootstrap .cvUpload p, .bootstrap .cvUpload img, .bootstrap .cvUpload strong {
      float: none;
      margin: 0 auto;
      text-align: center;
      color: #929292; }
    .bootstrap .cvUpload .selFile {
      float: none;
      margin: 0 auto;
      padding: 10px 0px;
      padding: 0.625rem 0rem; }
    .bootstrap .cvUpload .btn {
      margin: 0 auto;
      float: none;
      text-align: center; }
    .bootstrap .cvUpload p {
      padding: 30px 0px;
      padding: 1.875rem 0rem; }
  .bootstrap .social-buttons {
    margin: 0 auto;
    float: none;
    text-align: center; }
  .bootstrap .drop-box {
    background-position: center;
    text-align: center; }
  .bootstrap .center {
    float: none;
    margin: 0 auto; }
  .bootstrap #sib_embed_signup .container {
    width: auto !important;
    border-radius: 5px;
    margin: 18px 0px;
    margin: 1.125rem 0rem;
    padding: 0; }
    .bootstrap #sib_embed_signup .container .message_area {
      padding: 18px 0px;
      padding: 1.125rem 0rem;
      border: none !important; }

.ie8 .bootstrap .navbar img {
  max-width: 230px; }

@media screen and (max-width: 767px) {
  .bootstrap .navbar img {
    max-height: 50px; } }

#results {
  position: relative;
  clear: both; }

.filters .ui-select-container {
  float: right;
  display: block;
  min-width: 20%; }
  .filters .ui-select-container:last-child {
    margin-right: 1%; }

#loading {
  position: absolute;
  z-index: 100;
  top: 10%;
  left: 50%; }
