.icon {
	background-repeat: no-repeat;

	&.icon-altablue-white {
		background-image: url('../../../../job_board/public/imgs/svgs-pngs/altablue-white.png');
	}

	&.icon-drag {
		background-image: url('../../../../job_board/public/imgs/svgs-pngs/drag.png');
	}

}