{{ content() }}

<div ng-controller="AdminController" class="reset pages">

    <div class="jumbotron">
        <div class="container">
            <p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
        </div>
    </div>

    <form class="form-horizontal" method="post" action="#" onsubmit="return false;">
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary ladda-button" ladda="loginLoading" ng-click="login()" onClick="return false;" data-style="expand-left"><span class="ladda-label">reset my password</span></button>
            </div>
        </div>
    </form>

</div>