<div ng-controller="CampsListController" class="login pages">

    <alert ng-repeat="alert in alerts" type="[{[alert.type]}]" close="closeAlert($index)">[{[alert.msg]}]</alert>

	<h1>List campaigns</h1>

    <div class="spinner" ng-show="apiLoading">
        <center>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="100" height="100" fill="white">
              <circle fill="#e7e7e7" transform="translate(8 0)" cx="0" cy="16" r="0"> 
                <animate attributeName="r" values="0; 4; 0; 0" dur="1.2s" repeatCount="indefinite" begin="0"
                  keytimes="0;0.2;0.7;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.6 0.4 0.8" calcMode="spline" />
              </circle>
              <circle fill="#e7e7e7" transform="translate(16 0)" cx="0" cy="16" r="0"> 
                <animate attributeName="r" values="0; 4; 0; 0" dur="1.2s" repeatCount="indefinite" begin="0.3"
                  keytimes="0;0.2;0.7;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.6 0.4 0.8" calcMode="spline" />
              </circle>
              <circle fill="#e7e7e7" transform="translate(24 0)" cx="0" cy="16" r="0"> 
                <animate attributeName="r" values="0; 4; 0; 0" dur="1.2s" repeatCount="indefinite" begin="0.6"
                  keytimes="0;0.2;0.7;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.6 0.4 0.8" calcMode="spline" />
              </circle>
            </svg>  
        </center>               
    </div>

	<table class="table table-striped" ng-show="!apiLoading" ng-init="getCampaigns()">
        <thead>
            <tr>
                <th>#</th>
                <th>title</th>
                <th>url</th>
                <th>template</th>
                <th>parent</th>
                <th>type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="page in list track by $index">
                <td>[{[ page.id ]}]</td>
                <td>[{[ page.pagetitle ]}]</td>
                <td>[{[ page.url ]}]</td>
                <td>[{[ page.temp ]}]</td>
                <td>[{[ page.parent ]}]</td>
                <td>[{[ page.type ]}]</td>
                <td>
                    <a class="btn btn-primary" href="/admin/campaigns/[{[ page.id ]}]">edit page setup</a>
                    <a class="btn btn-primary" href="/admin/campaigns/[{[ page.id ]}]/content/">edit content</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>