<div ng-controller="CampsController" class="login pages">

    <alert ng-repeat="alert in alerts" type="[{[alert.type]}]" close="closeAlert($index)">[{[alert.msg]}]</alert>

	<h1 ng-init="campaignFilterFields()">campaign content modules</h1>

	<form ng-init="getTempModuleData()" class="clearfix" name="campaign" novalidate>
        <div ng-repeat="module in modules track by $index">
            <div ng-repeat="mod in module.params.admin" ng-init="index = $parent.$index">
                <input type="hidden" ng-model="moduleCont[module.name].id"/>
                <input type="hidden" ng-model="moduleCont[module.name].type" ng-init="moduleCont[module.name].type = mod.type"/>
                <ng-include src="mod.path ? mod.path : '/modules/admin/admin.'+mod.type+'.html'" onload="index = $parent.$index;"></ng-include>
            </div>
        </div>

		<div class="form-group">
			<button type="submit" class="btn btn-primary" ladda="updateLoading" ng-click="updateCampaignContent(true)">Update Campaign</button>
		</div>
    </form>
</div>