<div ng-controller="CampsController" class="login pages">

    <alert ng-repeat="alert in alerts" type="[{[alert.type]}]" close="closeAlert($index)">[{[alert.msg]}]</alert>

	<h1>manage application questions</h1>

    <hr/>

    <h3>Questions:</h3>

    <div>
        <ul>
            <li ng-repeat="question in questions">
                <h4>#[{[ question.id ]}] - [{[ question.irecid ]}]</h4>
                <p>[{[ question.question ]}]</p>
                <button class="btn btn-primary"><span class="glyphicon glyphicon-eye-open"></span></button>&nbsp;<button class="btn btn-primary" ng-click="newQuestions.push(question)"><span class="glyphicon glyphicon-edit"></span></button>&nbsp;<button class="btn btn-primary" ng-click="deleteQuestion(question.id)"><span class="glyphicon glyphicon-trash"></span></button>
            </li>
        </ul>
    </div>

    <hr/>

    <h3>Create New Question</h3>

    <a class="btn btn-primary" ng-click="newQuestions.push({answers:[], conditional:false, query: {}})"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add New Question</a>

    <div ng-repeat="question in newQuestions track by $index">
        <h4>#[{[ $index+1 ]}]</h4><label>conditional?</label><input type="checkbox" value="true" ng-checked="question.conditional" ng-model="question.conditional" />
        <label>iRec Field Id:</label><input ng-model="question.irecid" placeholder="iRec field id" />
        <div ng-if="question.conditional" class="col-sm-12 clearfix">
            <p class="col-sm-1">if job's</p>
            <select ng-model="question.query.first" class="col-sm-3">
                <option>location</option>
                <option>discipline</option>
                <option>company</option>
            </select>
            <select ng-model="question.query.second" class="col-sm-3">
                <option>is</option>
                <option>is not</option>
            </select>
            <select ng-model="question.query.third" class="col-sm-3">
                <option>Australia</option>
            </select>
            <p class="col-sm-2">show question:</p>
        </div>
        <div class="col-sm-12 clearfix">
            <input class="col-sm-11" ng-model="question.question" placeholder="question" />
        </div>
        <div class="col-sm-12 clearfix">
            <div class="col-sm-4">
                <h5>Answers:</h5>
                <label>FreeText Answer</label>
                <input type="checkbox" ng-model="question.freetext.enabled" />
                <select ng-if="question.freetext.enabled" ng-model="question.freetext.type">
                    <option value="int">integer</option>
                    <option value="text">text</option>
                    <option value="alphanumeric">alphanumeric</option>
                </select>
                <button class="btn btn-primary" ng-if="!question.freetext.enabled" ng-click="question.answers.push({text:''})"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add New Answer</button>
            </div>
            <div class="col-sm-8" ng-if="!question.freetext.enabled">
                <div ng-repeat="answer in question.answers track by $index">
                    <input ng-model="question.answers[$index].text" placeholder="answer" /><button ng-click="question.answers.splice($index, 1)" class="btn btn-primary"><span class="glyphicon glyphicon-trash"></span></button>
                </div>
            </div>
        </div>
        <div class="clearfix col-sm-12">
            <button class="btn btn-primary" ng-click="saveQuestion(question)">save question</button>
        </div>
    </div>

	<!--<form class="clearfix" name="campaign" novalidate>
        <div class="form-group" ng-class="{ 'has-error' : campaign.name.$invalid && !campaign.name.$pristine }">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Job Category</th>
                            <th>Job Country</th>
                            <th>Job Discipline</th>
                            <th>Company</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <label class="control-label">Campaign Name</label>
            <input required class="form-control" name="name" ng-model="campaignData.pagetitle" type="text" ng-minlength="3" placeholder="Campaign Name..." />
            <p ng-show="campaign.name.$invalid && !campaign.name.$pristine" class="help-block">Campaign name is required</p>
        </div>
    </form>-->
</div>