<div ng-controller="SearchPageController" class="error-page pages">

	<h1>404 - Page Not Found</h1>

	<p>Apologies, The page you requested cannot be loaded at this URL now.</p>

	<a href="/" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span> Return to Homepage</a>

	<hr/>

	<p>Here are is a list of our latest available jobs</p>

	<div role="tabpanel" ng-init="fourOhSearch()">

		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#list" aria-controls="list" role="tab" data-toggle="tab">List</a></li>
			<li role="presentation"><a href="#mapTab" ng-click="activateMap(mapEnabled)" aria-controls="mapTab" role="tab" data-toggle="tab">Map</a></li>
		</ul>

		<div ng-show="searchLoading"><p><strong>loading...</strong></p></div>	

		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="list">
				<div class="table-responsive">
					<table ng-hide="searchLoading" class="resultHit footable table table-striped">
						<thead>
							<tr>
								<th data-hide="desktop"  data-sort-ignore="true" data-toggle="true"></th>
								<th data-hide="phone,tablet" data-sort-ignore="true">Job Reference #</th>
								<th data-sort-ignore="true">Job Title</th>
								<th data-hide="phone,tablet" data-sort-ignore="true">Discipline</th>
								<th data-hide="phone" data-sort-ignore="true">Country</th>
								<th data-hide="phone,tablet" data-sort-ignore="true">Date</th>
								<th data-sort-ignore="true"></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="results in searchResults"  footable-draw>
								<td></td>
								<td>[{[ results._id ]}]</td>
								<td ng-bind-html="results._source.title"></td>
								<td ng-bind-html="results._source.discipline"></td>
								<td>[{[ results._source.city | capitalize ]}], [{[ results._source.country | isoCountry | capitalize ]}]</td>
								<td><dateformat date="[{[ results._source.date ]}]"></dateformat></td>
								<td><a ng-href="/job/[{[ results._source.discipline | escape ]}]/[{[ results._id ]}]" href="/job/[{[ results._source.discipline | escape ]}]/[{[ results._id ]}]" class="btn btn-primary">View Job</a></td>
							</tr>
						</tbody>
					</table>
				</div>	
			</div>
			<div role="tabpanel" class="tab-pane" id="mapTab">
				<div id='map'></div>
			</div>
		</div>

	</div>	

</div>