
    <div class="modal-header">
        <h3 class="modal-title">CV Upload</h3>
    </div>
    <div class="modal-body">
        <div ng-hide="progress" class="clearfix cvUpload">
            <div class="col-sm-8 uploader col-centered">
                <div ng-hide="files">
                    <figure class="col-sm-6 text-center clearfix"><img class="col-sm-8" src="/imgs/svgs/drag.svg" onerror="this.onerror=null; this.src='/imgs/svgs-pngs/drag.png'"  /></figure>
                    <p class="col-sm-12"><strong class="col-sm-6 text-center">Click below to upload your CV</strong></p>
                </div>
                <div ng-hide="!files" class="form-group selFile col-sm-6 clearfix col-centered" ng-repeat="f in files">
                    <label>Your Selected File</label>
                    <input ng-disabled="true" class="form-control" type="text" value="[{[ f.name ]}]" />
                    <p><small><em>Please ensure you have entered a conatct email and hit submit below to apply</em></small></p>
                </div>
                <div class="button btn btn-success col-sm-6" ngf-select accept=".pdf, .doc, .docx, .rtf, .txt" ng-model="files">Browse for Files</div>
            </div>
            <div class="email col-sm-4">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Contact Email Address:</label>
                        <p class="col-sm-9 text-center"><em>Please enter a contact email address below so we contact you on your application progress.</em></p>
                        <input type="email" class="form-control" ng-model="email" id="exampleInputEmail1" placeholder="Email">
                    </div>
                </form>
            </div>
        </div>
        <div ng-hide="!progress">
            <p><strong>Please wait while we upload and process your application.</strong></p>
            <progressbar class="progress-striped active" value="100" type="primary"></progressbar>
        </div>
    </div>
    <div class="modal-footer">
        <div ng-repeat="f in files" class="right">
            <button ng-if="!progress" class="btn btn-success ladda-button" type="submit" ladda="progress" data-ng-click="upload(files)" onClick="return false;" data-style="expand-left"><span class="ladda-label">Submit Application</span></button>
        </div>
        <button ng-if="!progress" class="btn btn-warning left" data-ng-click="cancel()">cancel</button>&nbsp;&nbsp;
    </div> 