<alert ng-repeat="alert in alerts" type="[{[alert.type]}]" close="closeAlert($index)">[{[alert.msg]}]</alert>

<div id="linkedInJS" class="jobpage pages">
	
	<h1>Job Page</h1>

	<br/>
	
	<h1 ng-bind="job.title"></h1>

	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th>Job Date</th>
					<th>Job Country</th>
					<th>Job Discipline</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td ng-bind="job.date">[{[ job.date ]}]</td>
					<td>[{[ job.city | capitalize ]}], [{[ job.country | isoCountry | capitalize]}]</td>
					<td ng-bind-html="job.discipline">[{[ job.discipline ]}]</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div ng-bind-html="jobdesc">[{[ jobdesc ]}]</div>

	<hr/>
		
		<div class="tcs">
			<p>By submitting your application you agree and consent our <a target="_blank" href="http://www.alta-blue.com/terms-of-use.html">Terms of Use</a> and <a target="_blank" href="privacy-policy.html">Privacy policy</a> and to us:</p>
			<ol>
				 <li>assessing your suitability for, and contacting you in relation to, the vacancy to which you have applied.</li>
				<li>assessing your suitability for, and contacting you in relation to, other vacancies which you have not have applied for but which we consider you may be suitable for, this may include vacancies outside the country in which you are based and out with Alta-Blue.</li>
				<li>contacting you with job alerts and marketing information which we consider may be of interest to you.</li>
			</ol>
			<p>If you would like further details of the countries with which your personal data may be shared or have any queries, please contact <a href="mailto:info@alta-blue.com">Data Privacy</a></p>
		</div>
		<input id="agree" type="checkbox" ng-model="applyDisabled" />&nbsp;
		<label for="agree">I confirm I have read and agree to your Terms of Use, Privacy Policy and the above statements.</label>
		<hr/>

		<a ng-disabled="!applyDisabled" class="btn btn-primary" ng-click="!applyDisabled || linkedInAccessGrant()">Apply via Linkedin</a>

		<a ng-disabled="!applyDisabled" class="btn btn-warning hidden-sm hidden-xs" data-ng-click="cvApply()" onclick="return false;">Apply with CV File</a>

	<hr/>

</div>

<script type="text/javascript" src="//platform.linkedin.com/in.js">
    api_key: 77aoj7smcv9zg2
    authorize: true
    onLoad: onLinkedInLoad
</script>