
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Keep up to date with our latest jobs</h3>
    </div>
    <div class="modal-body clearfix text-center">
        <div class="col-sm-10 clearfix center">
            <p>Enter your email address below to recieve news about our latest jobs straight to your inbox:</p>

            <div id="sib_embed_signup">
                <div>
                    <input type="hidden" id="sib_embed_signup_lang" value="en">
                    <input type="hidden" id="sib_embed_invalid_email_message" value="That email address is not valid. Please try again">
                    <div id="sib_loading_gif_area" style="position: absolute;z-index: 9999;display: none;">
                        <img src="https://my.sendinblue.com/public/theme/version3/images/loader_sblue.gif" style="display: block;margin-left: auto;margin-right: auto;position: relative;top: 40%;">
                    </div>
                    <form class="description" id="theform" name="theform" action="https://my.sendinblue.com/users/subscribeembed/js_id/1u0yu/id/2" onsubmit="return false;">
                        <input type="hidden" name="js_id" id="js_id" value="1u0yu">
                        <input type="hidden" name="listid" id="listid" value="19">
                        <input type="hidden" name="from_url" id="from_url" value="yes">
                        <input type="hidden" name="hdn_email_txt" id="hdn_email_txt" value="">
                        <input type="hidden" name="req_hid" id="req_hid" value="">
                        <div class="view-messages" style=" margin:5px 0;"> </div>
                        <div class="container alerts"></div>
                        <div class="input-group">
                            <input type="email" class="form-control" name="email" id="exampleInputEmail1" placeholder="Email">
                            <span class="input-group-btn">
                                <button class="btn btn-primary ladda-button" ladda="subscribe" type="submit"><span class="ladda-label">Subscribe</span></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
            <script type='text/javascript' src='https://my.sendinblue.com/public/theme/version3/js/subscribe-validate.js'></script>
            <script type='text/javascript'>
                jQuery.noConflict(true);
            </script>
        </div>
        <hr/>
        <div class="col-sm-10 text-center social-buttons clearfix">
            <p class="col-sm-12 clearfix">Follow us Facebook to hear our latest news</p>
            <div id="fb-root"></div>
            <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4&appId=374577342731265";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
            <div class="fb-page" data-href="https://www.facebook.com/altablueglobal" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/altablueglobal"><a href="https://www.facebook.com/altablueglobal">Altablue</a></blockquote></div></div>
        </div>
    </div>
    <div class="modal-footer"></div>