
    <div class="modal-header">
        <h3 class="modal-title">[{[ message.message ]}]</h3>
    </div>
    <div class="modal-body">
        <progressbar class="progress-striped active" value="100" type="primary"></progressbar>
    </div>