<h1>Thank You!</h1>

<p>Your application for the following job has been submitted:</p>

<h3>#[{[theJob.referencenumber]}] - [{[theJob.title]}]</h3>

<hr/>

<p>See below for more jobs in this discipline <em>(<span ng-bind-html="theJob.discipline"></span>)</em>:</p>

<alert ng-repeat="alert in alerts" type="[{[alert.type]}]" close="closeAlert($index)"><span ng-bind-html="alert.msg"></span></alert>

<div role="tabpanel">

	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#list" aria-controls="list" role="tab" data-toggle="tab">List</a></li>
		<li role="presentation"><a href="#mapTab" ng-click="activateMap(mapEnabled)" aria-controls="mapTab" role="tab" data-toggle="tab">Map</a></li>
	</ul>

	<div ng-show="searchLoading"><p><strong>loading...</strong></p></div>	

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="list">
			<div class="table-responsive">
				<br/><br/>
				<div ng-hide="!searchEmpty">
					<div class="alert">
						<p><strong>Sorry, no related jobs can be found for this discipline.</strong> We can update you when new jobs become available:</p>
						<div id="sib_embed_signup">
			                <div>
			                    <input type="hidden" id="sib_embed_signup_lang" value="en">
			                    <input type="hidden" id="sib_embed_invalid_email_message" value="That email address is not valid. Please try again">
			                    <div id="sib_loading_gif_area" style="position: absolute;z-index: 9999;display: none;">
			                        <img src="https://my.sendinblue.com/public/theme/version3/images/loader_sblue.gif" style="display: block;margin-left: auto;margin-right: auto;position: relative;top: 40%;">
			                    </div>
			                    <form class="description" id="theform" name="theform" action="https://my.sendinblue.com/users/subscribeembed/js_id/1u0yu/id/2" onsubmit="return false;">
			                        <input type="hidden" name="js_id" id="js_id" value="1u0yu">
			                        <input type="hidden" name="listid" id="listid" value="19">
			                        <input type="hidden" name="from_url" id="from_url" value="yes">
			                        <input type="hidden" name="hdn_email_txt" id="hdn_email_txt" value="">
			                        <input type="hidden" name="req_hid" id="req_hid" value="">
			                        <div class="view-messages" style=" margin:5px 0;"> </div>
			                        <div class="container alerts"></div>
			                        <div class="input-group">
			                            <input type="email" class="form-control" name="email" id="exampleInputEmail1" placeholder="Email">
			                            <span class="input-group-btn">
			                                <button class="btn btn-primary ladda-button" ladda="subscribe" type="submit"><span class="ladda-label">Subscribe</span></button>
			                            </span>
			                        </div>
			                    </form>
			                </div>
			            </div>
			            <script type='text/javascript' src='https://my.sendinblue.com/public/theme/version3/js/subscribe-validate.js'></script>
					</div>
				</div>
				<table ng-hide="searchEmpty" class="resultHit table footable table-striped">
					<thead>
						<tr>
							<th data-hide="desktop"  data-sort-ignore="true" data-toggle="true"></th>
							<th data-hide="phone,tablet" data-sort-ignore="true">Job Reference #</th>
							<th data-sort-ignore="true">Job Title</th>
							<th data-hide="phone,tablet" data-sort-ignore="true">Discipline</th>
							<th data-hide="phone" data-sort-ignore="true">Country</th>
							<th data-hide="phone,tablet" data-sort-ignore="true">Date</th>
							<th data-sort-ignore="true"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="results in searchResults"  footable-draw>
							<td></td>
							<td>[{[ results._id ]}]</td>
							<td ng-bind-html="results._source.title"></td>
							<td ng-bind-html="results._source.discipline"></td>
							<td>[{[ results._source.city | capitalize ]}], [{[ results._source.country | isoCountry | capitalize ]}]</td>
							<td><dateformat date="[{[ results._source.date ]}]"></dateformat></td>
							<td><a href="/job/[{[ results._source.discipline | escape ]}]/[{[ results._id ]}]" class="btn btn-primary">View Job</a></td>
						</tr>
					</tbody>
				</table>
			</div>	
		</div>
		<div role="tabpanel" class="tab-pane" id="mapTab">
			<div id='map'></div>
		</div>
	</div>

	<a href="/" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span> Return to Job Search Page</a>

</div>