<div ng-controller="SearchPageController" class="searchpage pages">

	<alert ng-repeat="alert in alerts" type="[{[alert.type]}]" close="closeAlert($index)"><span ng-bind-html="alert.msg"></span></alert>
	
	<h1>Altablue Jobs</h1>

	<p>Use the options below to search through our global jobs.</p>

	<form class="form-horizontal col-sm-12 clearing">
		<div class="form-group">
			<label class="control-label">Keyword:</label>
			<input class="col-sm-12 form-control" type="text" ng-model="search.keyword" placeholder="search keyword" />
		</div>

		<div class="form-group">
			<label class="control-label">Discipline:</label>
	        <ui-select allow-clear ng-model="teh.disciplines" theme="bootstrap" ng-disabled="disabled" title="Campaign Type" required>
	            <ui-select-match placeholder="select a discipline from list">[{[$select.selected.name]}]</ui-select-match>
	            <ui-select-choices repeat="discipline in disciplines | propsFilter: {name: $select.search}" value="[{[$select.selected.name]}]">
	                <div ng-bind-html="discipline.name | highlight: $select.search"></div>
	            </ui-select-choices>
	        </ui-select>
        </div>

		<div class="form-group">
			<label class="control-label">Location:</label>
	    	<input class="col-sm-12 form-control" places-auto-complete ng-model="address" placeholder="Begin typing" types="['geocode']" ng-blur="updateLoc(place)" on-place-changed="placeChanged(place)" /> <br/>
	    </div>
		<div class="form-group">
			<button class="btn btn-primary" type="submit" ladda="searchLoading" ng-click="submitSearch()" onclick="return false;">Search</button>
			<button class="btn btn-info" ladda="searchLoading" ng-click="submitSearchAll()" onclick="return false;">Show All Jobs</button>
		</div>
	</form>

	<hr/>

	<div class="filters text-right">	
	    <ui-select ng-model="teh.s" theme="bootstrap" ng-change="filterChange($select.selected.value)" title="Results per Page" ng-disabled="disabled">
	        <ui-select-match placeholder="Results per Page">[{[$select.selected.name]}]</ui-select-match>
	        <ui-select-choices repeat="showNum in showNums| propsFilter: {name: $select.search}" value="[{[$select.selected.name]}]">
	            <div ng-bind-html="showNum.name | highlight: $select.search"></div>
	        </ui-select-choices>
	    </ui-select>
	    <ui-select ng-model="teh.sb" theme="bootstrap" ng-change="filterChange($select.selected.value)"  ng-disabled="disabled">
	        <ui-select-match placeholder="Sort By...">[{[$select.selected.name]}]</ui-select-match>
            <ui-select-choices repeat="sort in sorts | propsFilter: {name: $select.search}" value="[{[$select.selected.name]}]">
                <div ng-bind-html="sort.name | highlight: $select.search"></div>
            </ui-select-choices>
	    </ui-select>	
	</div>

	<div role="tabpanel" id="results">

		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#list" ng-click="listTab()" aria-controls="list" role="tab" data-toggle="tab">List</a></li>
			<li role="presentation"><a href="#mapTab" ng-click="activateMap(mapEnabled)" aria-controls="mapTab" role="tab" data-toggle="tab">Map</a></li>
		</ul>

		<div id="loading" ng-show="searchLoading"><svg width="100" height="100" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" stroke="#0099cc">
		    <g fill="none" fill-rule="evenodd">
		        <g transform="translate(1 1)" stroke-width="2">
		            <circle stroke-opacity=".5" cx="18" cy="18" r="18"/>
		            <path d="M36 18c0-9.94-8.06-18-18-18">
		                <animateTransform
		                    attributeName="transform"
		                    type="rotate"
		                    from="0 18 18"
		                    to="360 18 18"
		                    dur="1s"
		                    repeatCount="indefinite"/>
		            </path>
		        </g>
		    </g>
		</svg></div>	

		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="list">
				<div class="table-responsive" ng-style="{opacity: (searchLoading == true ? 0.25 : 1)}">
					<br/><br/>
					<div ng-hide="!searchEmpty">
						<div class="alert alert-warning">
							<p>Sorry, no jobs can be found for that search term. Try searching for all jobs: <button ladda="searchLoading" ng-click="submitSearchAll()" onclick="return false;" class="btn btn-primary">Search all jobs</button></p>
						</div>
					</div>
					<table ng-hide="searchEmpty" class="resultHit footable table table-striped">
						<thead>
							<tr>
								<th data-hide="desktop"  data-sort-ignore="true" data-toggle="true"></th>
								<th data-hide="phone,tablet" data-sort-ignore="true">Job Reference #</th>
								<th data-sort-ignore="true">Job Title</th>
								<th data-hide="phone,tablet" data-sort-ignore="true">Discipline</th>
								<th data-hide="phone" data-sort-ignore="true">Country</th>
								<th data-hide="phone,tablet" data-sort-ignore="true">Date</th>
								<th data-sort-ignore="true"></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="results in searchResults" footable-draw>
								<td></td>
								<td ng-bind-html="results._id">[{[ results._id ]}]</td>
								<td ng-bind-html="results._source.title">[{[ results._source.title ]}]</td>
								<td ng-bind-html="results._source.discipline">[{[ results._source.discipline ]}]</td>
								<td>[{[ results._source.city | capitalize ]}], [{[ results._source.country | isoCountry | capitalize ]}]</td>
								<td><dateformat date="[{[ results._source.date ]}]">[{[ results._source.date ]}]</dateformat></td>
								<td><a ng-href="/job/[{[ results._source.discipline | escape ]}]/[{[ results._id ]}]" href="/job/[{[ results._source.discipline | escape ]}]/[{[ results._id ]}]" class="btn btn-primary">View Job</a></td>
							</tr>
						</tbody>
					</table>
				</div>	
			</div>

			<div role="tabpanel" class="tab-pane" id="mapTab">
				<div id='map'></div>
			</div>

			<div class="col-12-xs text-center pagination-centered">
				<pagination total-items="searchTotal" ng-click="pageChanged()" items-per-page="teh.s.val" ng-model="currentPage" max-size="5" class="pagination-md" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
			</div>
		</div>

	</div>

</div>