<html>
<head>
	<style>
		body{
			font-family:sans-serif;
		}
		p{
			width:100%;
			display:block;
			clear:both;
		}
		strong{
			font-weight:bold;
		}
	</style>
</head>
<body>
	<h1 class="fullName"><?php echo $linkedIn['profile']['firstName']; ?> <?php echo $linkedIn['profile']['lastName']; ?></h1>
	<h2 class="headLine"><?php echo $linkedIn['profile']['headline']; ?></h2>
	<h3 class="email"><?php echo $linkedIn['profile']['emailAddress']; ?></h3>
	
	<hr/>
	
	<h3>Summary</h3>
	<div id="summary">
		<p><?php echo $linkedIn['profile']['summary']; ?></p>
	</div>
	
	<hr/>

	<h3>Experience</h3>
	<div id="experience">
		<?php foreach($linkedIn['profile']['positions']['values'] as $position): ?>
			<div class="job">
				<h3><?php echo $position['title']; ?> at <?php echo $position['company']['name']; ?></h3>
				<h4><?php echo $position['startDate']['month']; ?> <?php echo $position['startDate']['year']; ?> - <?php echo $position['endDate']['month']; ?> <?php echo $position['endDate']['year']; ?> (<?php abs(strtotime($position['endDate']['month'].'-'.$position['endDate']['year']) - strtotime($position['startDate']['month'].'-'.$position['startDate']['year']))?>)</h4>
				<p><?php echo $position['summary']; ?></p>
			</div>
		<?php foreach; ?>
	</div>

	<hr/>

	<h3>Skills &amp; Expertise</h3>
	<div id="skills">
		<?php foreach($linkedIn['skills']['values'] as $skill): ?>
			<p><?php echo $skill['name']; ?></p>
		<?php endforeach; ?>
	</div>

	<hr/>

	<h3>Education</h3>
	<div id="education">
		<?php foreach($linkedIn['educations']['values'] as $education): ?>
			<p><?php echo $education['schoolName']; ?></p>
			<p><?php echo $education['degree']; ?>, <?php echo $education['fieldOfStudy']; ?> <?php echo $education['startDate']; ?> - <?php echo $education['endDate']; ?></p>
		<?php endforeach; ?>
	</div>

	<hr/>

	

	<?php foreach($linkedIn as $key => $profile): ?>
		<p><strong><?php print_r($key); ?></strong> - <?php print_r($profile); ?></p>
	<?php endforeach; ?>


</body>

</html>