
	[{[ adminHeader ]}]

		<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
		    <div class="container-fluid">
		        <div class="navbar-header">
		            <button ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		                <span class="sr-only">Toggle navigation</span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		            </button>
		            <a class="navbar-brand" href="/"><span>Altablue Jobs</span></a>
		        </div>

		        <div collapse="navCollapsed" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

					<ul class="nav navbar-nav navbar-right">

						<li data-ng-if="$storage.loginToken"><a href="/admin">Dashboard</a></li>

		            	<li data-ng-if="!adminHeader"><a href="#">Search for Jobs</a></li>

		                <li data-ng-if="!adminHeader"><a href="#">Campaigns</a></li>

		                <li data-ng-if="!adminHeader" class="dropdown" dropdown is-open="status.isopen">
		                    <a onclick="return false;" class="dropdown-toggle" dropdown-toggle ng-disabled="disabled" on-toggle="toggled(open)" data-toggle="dropdown" role="button" aria-expanded="false">Locations<span class="caret"></span></a>
		                    <ul class="dropdown-menu" role="menu">
		                        <li ><a href="#">Global</a></li>
		                        <li ><a href="#">UK</a></li>
		                        <li ><a href="#">Australia</a></li>
		                        <li ><a href="#">Americas</a></li>
		                        <li ><a href="#">Middle East &amp; ERC</a></li>
		                        <li ><a href="#">Africa</a></li>
		                    </ul>
		                </li>

		              	<li data-ng-if="!adminHeader" class="dropdown" dropdown is-open="status.isopen">
		                    <a onclick="return false;" class="dropdown-toggle" dropdown-toggle ng-disabled="disabled" on-toggle="toggled(open)" data-toggle="dropdown" role="button" aria-expanded="false">Help<span class="caret"></span></a>
		                    <ul class="dropdown-menu" role="menu">
		                        <li ><a href="#">FAQS</a></li>
		                        <li ><a href="#">Career Advice</a></li>
		                        <li ><a href="#">Contact Us</a></li>
		                        <li ><a href="#">Register</a></li>
		                    </ul>
		                </li>

		                <li data-ng-if="adminHeader" class="dropdown" dropdown is-open="status.isopen">
		                    <a onclick="return false;" class="dropdown-toggle" dropdown-toggle ng-disabled="disabled" on-toggle="toggled(open)" data-toggle="dropdown" role="button" aria-expanded="false">Campaigns<span class="caret"></span></a>
		                    <ul class="dropdown-menu" role="menu">
		                        <li ><a href="/admin/campaigns">List Campaigns</a></li>
		                        <li ><a href="/admin/campaigns/create">Create Campaign</a></li>
		                    </ul>
		                </li>

		                <!--<li data-ng-if="adminHeader" class="dropdown" dropdown is-open="status.isopen">
		                    <a onclick="return false;" class="dropdown-toggle" dropdown-toggle ng-disabled="disabled" on-toggle="toggled(open)" data-toggle="dropdown" role="button" aria-expanded="false">Career Advice<span class="caret"></span></a>
		                    <ul class="dropdown-menu" role="menu">
		                        <li ><a href="/admin/campaigns/">List Advice Pages</a></li>
		                        <li ><a href="/admin/campaigns/create">Edit Advice Pages</a></li>
		                    </ul>
		                </li>-->

		              	<li data-ng-if="adminHeader" class="dropdown" dropdown is-open="status.isopen">
		                    <a onclick="return false;" class="dropdown-toggle" dropdown-toggle ng-disabled="disabled" on-toggle="toggled(open)" data-toggle="dropdown" role="button" aria-expanded="false">Help<span class="caret"></span></a>
		                    <ul class="dropdown-menu" role="menu">
		                        <li ><a href="#">1</a></li>
		                    </ul>
		                </li>

		           		<li data-ng-if="!$storage.loginToken"><a href="/login">Admin Login</a></li>
		                <li data-ng-if="$storage.loginToken"><a href="/logout">Admin Logout</a></li>
			        </ul>
		        </div>
		    </div>
		</nav>