<div ng-controller="HomepageController" class="homepage pages">

	<section id="hero">

		<div class="jumbotron row">
			<h1>Efficiently unleash cross-media</h1>
			<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>

			<div class="row">
		        <div class="col-sm-10 col-sm-offset-1">
		            <div id="imaginary_container"> 
		                <div class="input-group stylish-input-group">
		                    <input type="text" class="form-control"  placeholder="Search" >
		                    <span class="input-group-addon">
		                        <button type="submit">
		                            <span class="glyphicon glyphicon-search"></span>
		                        </button>  
		                    </span>
		                </div>
		            </div>
		        </div>
			</div>
		</div>

	</section>

	<div class="row clearfix">

		<section id="main" role="main" class="row col-golden-lg">

			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" ng-init="slider()">
				<!--<carousel interval="myInterval">
					<slide ng-repeat="slide in slides" active="slide.active">
						<img holder="[{[slide.image]}]" style="margin:auto;">
						<div class="carousel-caption">
							<h4>Slide [{[$index]}]</h4>
							<p>[{[slide.text]}]</p>
						</div>
					</slide>
				</carousel>-->
			</div>

			<a class="placeholder" href="#">
				<img holder="holder.js/100%x300/auto/#0099cc:#007AA3/text: Link to Locations" class="img-rounded">
			</a>

			<a class="placeholder" href="#">
				<img holder="holder.js/100%x300/auto/#0099cc:#007AA3/text: Link to Career Advice" class="img-rounded">
			</a>

		</section>

		<aside id="sidebar" role="sidebar" class="row right col-golden-sm">
			
			<a href="#">
				<img holder="holder.js/100%x300/auto/#0099cc:#007AA3/text: Link to Hot Jobs" class="img-rounded">
			</a>

			<a href="#" class="clearfix">
				<img holder="holder.js/100%x300/auto/#0099cc:#007AA3/text: Link to Clients Landing" class="img-rounded">
			</a>

			<a href="#">
				<img holder="holder.js/100%x300/auto/#0099cc:#007AA3/text: Link to FAQS" class="img-rounded">
			</a>

		</aside>

	</div>

</div>