<div id="linkedInJS" class="jobpage pages">
	
	<h1>Job Page</h1>

	<br/>
	
	<h1 ng-bind="job.title"></h1>

	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th>Job Date</th>
					<th>Job Category</th>
					<th>Job Country</th>
					<th>Job Discipline</th>
					<th>Company</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td ng-bind="job.date"></td>
					<td ng-bind="job.category"></td>
					<td ng-bind="job.country"></td>
					<td ng-bind="job.discipline"></td>
					<td ng-bind="job.company"></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div ng-bind-html="jobdesc"></div>

	<hr/>

	<a href="#" class="btn btn-primary" ng-click="linkedInApply()">Apply</a>

</div>

<script type="text/javascript" src="//platform.linkedin.com/in.js">
    api_key: 77aoj7smcv9zg2
    authorize: true
    onLoad: onLinkedInLoad
</script>