
    <div class="modal-header">
        <h3 class="modal-title">Addional Application Questions</h3>
    </div>
    <div class="modal-body">
        <p>Please answer the questions below:</p>
        <div class="clearfix">
            <form class="clearfix" name="qs" novalidate>
                <div class="form-group" ng-repeat="question in questions track by $index" ng-class="{ 'has-error' : qs.question[$index+1].$invalid && !qs.question[$index+1].$pristine }">
                    <label class="control-label">[{[ question.question ]}]</label>
                    <input required class="form-control" type="text" placeholder="Answer..." ng-model="answer.question[ question.irecid ]" name="question[{[ question.irecid ]}]" ng-if="question.freetext.enabled" />
                    <select class="form-control" ng-if="!question.freetext.enabled" ng-model="answer.question[ question.irecid ]" name="question[{[ question.irecid ]}]">
                        <option ng-repeat="answer in question.answers">[{[ answer.text ]}]</option>
                    </select>
                    <p ng-show="qs.question[$index+1].$invalid && !qs.question[$index+1].$pristine" class="help-block">Answer is required</p>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success ladda-button" type="submit" ladda="additionalQsLoading" ng-click="additionalQsSubmit(qs)" ng-disabled="qs.$invalid" onClick="return false;" data-style="expand-left"><span class="ladda-label">Finalise Application</span></button>
    </div>