<div ng-controller="SearchPageController" class="searchpage pages">
	
	<h1>Search Page</h1>

	<form class="form-horizontal">
		<div class="form-group">
			<label class="control-label">Keyword:</label>
			<input class="col-sm-12 form-control" type="text" ng-model="search.keyword" placeholder="search keyword" />
		</div>
		<div class="form-group">
			<label class="control-label">Discipline:</label>
			<input class="col-sm-12 form-control" type="text" ng-model="search.discipline" placeholder="search discipline">
		</div>

		<div class="form-group">
			<label class="control-label">Location:</label>
	    	<input class="col-sm-12 form-control" places-auto-complete ng-model="address" placeholder="Begin typing" types="['geocode']" on-place-changed="placeChanged(place)" /> <br/>
	    </div>

		<button class="btn btn-primary" type="submit" ladda="searchLoading" ng-click="submitSearch()" onclick="return false;">Search</button>
	</form>

	<hr/>

	<div role="tabpanel">

		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#list" aria-controls="list" role="tab" data-toggle="tab">List</a></li>
			<li role="presentation"><a href="#mapTab" ng-click="activateMap(mapEnabled)" aria-controls="mapTab" role="tab" data-toggle="tab">Map</a></li>
		</ul>

		<div ng-show="searchLoading"><p><strong>loading...</strong></p></div>	

		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="list">
				<div class="table-responsive">
					<table ng-hide="searchLoading" class="resultHit table table-striped">
						<thead>
							<tr>
								<th>Job Id</th>
								<th>Job Title</th>
								<th>Description</th>
								<th>Category</th>
								<th>Discipline</th>
								<th>Country</th>
								<th>Date</th>
								<th>Location</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="results in searchResults">
								<td>[{[ results._id ]}]</td>
								<td>[{[ results._source.title ]}]</td>
								<td>[{[ results._source.description | limitTo: 30 ]}]</td>
								<td>[{[ results._source.category ]}]</td>
								<td>[{[ results._source.discipline ]}]</td>
								<td>[{[ results._source.country ]}]</td>
								<td><dateformat date="[{[ results._source.date ]}]"></dateformat></td>
								<td>[{[ results._source.location ]}]</td>
								<td><a href="/job/[{[ results._source.category ]}]/[{[ results._id ]}]" class="btn btn-primary">View Job</a></td>
							</tr>
						</tbody>
					</table>
				</div>	
			</div>
			<div role="tabpanel" class="tab-pane" id="mapTab">
				<div id='map'></div>
			</div>
		</div>

	</div>

</div>