<div>
	<div ng-init="getJobs(campData.module_data.projectjobs.data)">
		<ul>
			<div class="table-responsive">
				<table ng-hide="searchLoading" class="resultHit table table-striped">
					<thead>
						<tr>
							<th>Job Id</th>
							<th>Job Title</th>
							<th>Description</th>
							<th>Category</th>
							<th>Discipline</th>
							<th>Country</th>
							<th>Date</th>
							<th>Location</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="job in jobs">
							<td>[{[ job._id ]}]</td>
							<td>[{[ job._source.title ]}]</td>
							<td>[{[ job._source.description | limitTo: 30 ]}]</td>
							<td>[{[ job._source.category ]}]</td>
							<td>[{[ job._source.discipline ]}]</td>
							<td>[{[ job._source.country ]}]</td>
							<td><dateformat date="[{[ job._source.date ]}]"></dateformat></td>
							<td>[{[ job._source.location ]}]</td>
							<td><a href="/job/[{[ job._source.category ]}]/[{[ job._id ]}]" class="btn btn-primary">View Job</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</ul>
	</div>

</div>