<div>
	<h3>Textbox</h3>

	<div class="form-group">
		<label for="exampleInputEmail1">Module Name</label>
		<input type="text" ng-model="moduleCont[modelName[index]].title" />
	</div>
	<div class="form-group">
		<label for="exampleInputPassword1">Content</label>
		<textarea  ng-model="moduleCont[modelName[index]].data" />
			
		</textarea>
	</div>
</div>
<hr/>