<div>
	<h3>Job list</h3>

	<div class="form-group">
		<label for="exampleInputEmail1">Module Name</label>
		<input type="text" ng-bind-model="modelName[index]+'.title'" />
	</div>
	<div class="form-group">
		<label for="exampleInputPassword1">Content</label>
		<textarea  ng-bind-model="modelName[index]+'.data'" />
			
		</textarea>
	</div>
</div>
<hr/>