<div class="clearfix">
	<h3>Job Filter</h3>

	<div class="form-group">
		<label for="exampleInputEmail1">Module Name</label>
		<input type="text" ng-model="moduleCont[modelName[index]].title" />
	</div>
	<div class="form-group clearfix">
		<label for="exampleInputPassword1">Job Filter</label>

	    <div class="clearfix">
	    	<div ng-repeat="(fIndex, filter) in moduleCont[modelName[index]].data">
		        <div class="col-sm-12 clearfix">
		            <p class="col-sm-2">show jobs that have</p>
		            <select ng-model="moduleCont[modelName[index]].data[fIndex].attr" class="col-sm-3">
		                <option>category</option>
		                <option>discipline</option>
		                <option>company</option>
		                <option>country</option>
		            </select>
		            <select ng-model="moduleCont[modelName[index]].data[fIndex].query" class="col-sm-2">
		                <option>is</option>
		                <option>is not</option>
		            </select>
		            <div ng-repeat="(key, value) in filters" >
			            <select ng-model="moduleCont[modelName[index]].data[fIndex].value" ng-if="moduleCont[modelName[index]].data[fIndex].attr == key" class="col-sm-3">
			            	<option>[{[ key ]}]</option>
			                <option ng-repeat="option in value">[{[ option.name ]}]</option>
			            </select>
		            </div>
		            <button class="col-sm-2 btn btn-primary" ng-click="deleteField([modelName[index]],fIndex)" onclick="return false;"><span class="glyphicon glyphicon-trash"></span> delete filter</button>
		        </div>
		        <hr/>
		    </div>
		    <button class="btn btn-primary" ng-click="appendField([modelName[index]])" onclick="return false;"><span class="glyphicon glyphicon-plus"></span> add new job filter</button>
	    </div>
	</div>
</div>
<hr/>