    <section id="hero" class="stretch" data-stretch="/templates/template-2/imgs/hero/top.jpg">
        <div class="container centered">
            <h2>Offshore Opportunities</h2>
            <h1>Exciting oppertunities based in the UK Southern North Sea on two gas production wellhead assets, the Trent and the Tyne. </h1>
            <a href="#jobs" id="scroll" class="four centered cta orange" alt="Brand new opportunities within the Southern Sector of the North Sea." title="Brand new opportunities within the Southern Sector of the North Sea.">View All Opportunities</a>
        </div>  
    </section>

    <section id="wgpsn">
        <div class="container centered">
            <h3><strong>Wood Group PSN</strong> Where You Want to Be</h3>
            <p>At Wood Group PSN we aim to be the best company to work for, and that means helping our people become the best at what they do and creating the best opportunities for them to grow and improve.</p>
        </div>
    </section>

    <section id="iona" class="stretch" data-stretch="/templates/template-2/imgs/hero/iona-bg.jpg">
        <div class="container">
            <h4 class="centered">Positions Available</h4>
            <p>Wood Group PSN are recruiting positions for both the Trent and Tyne assets, two unmanned assets - referred to as NUI’s - based in the Southern sector of the North Sea. Both Trent and Tyne are gas production assets, with Trent being the more complex of the two. Trent is manned 24 hours per day for 2 weeks of every 4, whereas staff on the Tyne asset return to shore after each shift.</p>

            <p>These assets will initially be managed operationally through Great Yarmouth or the local Norwich area, including associated air and marine logistics. Wood Group PSN require a new offshore core crew to man these assets. The offshore core crew will initially work a 2/2 rotation for a short period of time then quickly move to a 2/3 rotation.  The crew will be a tight-knight squad of expert technicians supporting these assets, and a large degree of flexi-skilling will be required.</p>
        </div>
    </section>

    <section id="jobs">
        <div class="container">
            <div class="row clearing">
                <article class="col half left flatleft">
                    <h3>5th Week OIM/Lead Technician</h3>
                    <p>Are you a lead technician looking for a step into an OIM role? We have the perfect opportunity for you. Combining the roles of an OIM and a Lead Technician on our small core crew for Wood Group PSN's Iona Energy project, working on the Trent and Tyne in the UK Southern North Sea. As these are unmanned assets (NUI), candidates will be returned to shore every evening. A great opportunity to work offshore &amp; be home for dinner.<br/><br/></p>
                    <a target="_blank" class="cta orange six" href="https://jobs.alta-blue.com/Pages/Vacancy.aspx?ID=IRC118010&Company=AB" onClick="_gaq.push(['_trackEvent', 'iona', 'clickthrough', 'Viewed 5th Week OIM/Lead Technician', 1, true]);">view job</a>
                </article>
                <article class="col half left flatright">
                    <h3>Instrument Technician</h3>
                    <p>We require 3 Instrument Technicians for our Iona Energy Project. These roles are part of a small core crew for the Trent and Tyne in the UK Southern North Sea. As these are unmanned assets (NUI), candidates will be returned to shore daily. You will be working on various types of instrumentation equipment offshore such as DCS, fire and gas systems and metering systems, undertaking planned and unscheduled maintenance activities, and reporting these activities into the maintenance system.</p>
                    <a target="_blank" class="cta orange six" href="https://jobs.alta-blue.com/Pages/Vacancy.aspx?ID=IRC118012&Company=AB" onClick="_gaq.push(['_trackEvent', 'iona', 'clickthrough', 'Viewed Instrument Technician', 1, true]);">view job</a>
                </article>
                <article class="col half left flatleft">
                    <h3>Mechanical Technician</h3>
                    <p>We require 3 Mechanical Technicians for our Iona Energy Project. These roles are part of a small core crew for the Trent and Tyne in the UK Southern North Sea. As these are unmanned assets (NUI), candidates will be returned to shore every evening - a great opportunity to work offshore and be home every night. You will be working on rotating equipment and static equipment, as well as valves on the gas wellheads. On top of this you will be responsible for undertaking planned and unscheduled maintenance activities, and reporting these activities into the maintenance system.<br/><br/></p>
                    <a target="_blank" class="cta orange six" href="https://jobs.alta-blue.com/Pages/Vacancy.aspx?ID=IRC118011&Company=AB" onClick="_gaq.push(['_trackEvent', 'iona', 'clickthrough', 'Viewed Mechanical Technician', 1, true]);">view job</a>
                </article>
                <article class="col half left flatright">
                    <h3>Electrical Technicians</h3>
                    <p>We require 3 Electrical Technicians for our Iona Energy Project. These roles are part of a small core crew for the Trent and Tyne in the UK Southern North Sea. As these are unmanned assets (NUI), candidates will be returned to shore every evening- a great opportunity to work offshore and be home every night. You will be working on various electrical equipment offshore such as Power Generators, UPS, EX-equipment, Switchgear, Nav-Aids and motors. On top of this you will be responsible for undertaking planned and unscheduled maintenance activities, and reporting these activities into the maintenance system.</p>
                    <a target="_blank" class="cta orange six" href="https://jobs.alta-blue.com/Pages/Vacancy.aspx?ID=IRC118009&Company=AB" onClick="_gaq.push(['_trackEvent', 'iona', 'clickthrough', 'Viewed Electrical Technicians', 1, true]);">view job</a>
                </article>
                <article class="col half left flatleft">
                    <h3>Operations Technician</h3>
                    <p>We are currently looking for 3 Operations Technicians that can also act as Control Room Operators and Radio Operators to work on our exciting Iona Energy Project. These roles are part of a small core crew for the Trent and Tyne in the UK Southern North Sea. As these are unmanned assets (NUI), candidates will be returned to shore every evening - a great opportunity to work offshore and be home every night for dinner! You will be monitoring and operating processes using DCS, ECS and FGS on these gas production assets as well as assisting the maintenance crew on an as-and-when-required basis.<br/><br/><br/></p>
                    <a target="_blank" class="cta orange six" href="https://jobs.alta-blue.com/Pages/Vacancy.aspx?ID=IRC118011&Company=AB" onClick="ga('send', 'event', 'Iona', 'Click-Through', 'Viewed Operations Technician', 1);">view job</a>
                </article>
                <article class="col half pushright flatright">
                    <h3>Crane Technician</h3>
                    <p>Are you a skilled Crane Operator looking for a new career challenge? Then we have a great opportunity for you. We are currently recruiting for a Crane Operator to work on our Iona Energy project based in the UK Southern North Sea on two gas production wellhead assets, the Trent and the Tyne. In this role you will be expected to safely and efficiently operate and maintain all crane operational plant and equipment at each location, to develop lifting plans for and carry routine rigging tasks in compliance with LOLER regulations and ACOP to a high standard of safety. This project gives you the opportunity to work on a truly fascinating project from start to completion, working in a multi-skilled team of technicians and operators.</p>
                    <a target="_blank" class="cta orange six" href="https://jobs.alta-blue.com/Pages/Vacancy.aspx?ID=IRC118993&Company=AB" onClick="ga('send', 'event', 'Iona', 'Click-Through', 'Viewed Crane Technician', 1);">view job</a>
                </article>
            </div>
            <div id="social" class="row full gapless centered clearing">
                <article class="full centered gapless">
                    <h4>Share these Jobs</h4>
                    <p>Think you know someone perfect for any of our positions? Use the buttons below to share this page with them</p>
                    <div class="buttons clearing ten centered">
                        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.alta-blue.com%2Fiona%2F" target="_blank" class="two gapless" alt="Share thse jobs via Facebook" title="Share these jobs via Facebook"><img src="/templates/template-2/imgs/social/fb2.svg" width="64" alt="Share these Altablue oil and gas offshore jobs via Facebook" title="Share these Altablue oil and gas offshore jobs via Facebook" onerror="this.onerror=null; this.src='/templates/template-2/imgs/social/fb2.png'"/></a>
                        <a target="_blank" href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fwww.alta-blue.com%2Fiona/%2F&text=Offshore Jobs available in the Southern North sea via Altablue. View Jobs here: http://www.alta-blue.com/iona/" class="two gapless" alt="Share these jobs via Twitter" title="Share these jobs via Twitter"><img src="/templates/template-2/imgs/social/tweet.svg" width="64" alt="Share these Altablue oil and gas offshore jobs via Twitter" title="Share these Altablue oil and gas offshore jobs via Twitter" onerror="this.onerror=null; this.src='/templates/template-2/imgs/social/tweet.png'" /></a>
                        <a target="_blank" href="https://www.linkedin.com/cws/share?url=http%3A%2F%2Fwww.alta-blue.com%2Fiona%2F" class="two gapless" alt="Share these jobs via LinkedIn" title="Share these jobs via LinkedIn"><img src="/templates/template-2/imgs/social/linkedin2.svg" width="64" alt="Share these Altablue oil and gas offshore jobs via LinkedIn" title="Share these Altablue oil and gas offshore jobs via LinkedIn" onerror="this.onerror=null; this.src='/templates/template-2/imgs/social/linkedin2.png'" /></a>
                        <a target="_blank" href="https://plus.google.com/share?url=http%3A%2F%2Fwww.alta-blue.com%2Fiona%2F" class="two gapless" alt="Share these jobs via Google+" title="Share these jobs via Google+"><img src="/templates/template-2/imgs/social/google.svg" width="64" alt="Share these Altablue oil and gas offshore jobs via Google+" title="Share these Altablue oil and gas offshore jobs via Google+"  onerror="this.onerror=null; this.src='/templates/template-2/imgs/social/google.png'"/></a>
                    </div>
                </article>
            </div>
        </div>
    </section>

    <section id="blueBanner">
        <div class="container">
            <div class="fifteen centered clearing">
                <h3 class="eleven col left"><strong>Search</strong> and <strong>Apply</strong> for All of Our Jobs Through the Online Altablue Job Board</h3>
                <a target="_blank" href="https://jobs.alta-blue.com/" class="cta orange col five pushright" alt="View all the all the jobs available from Altablue, including oil &amp; gas and offshore jobs." title="View all the all the jobs available from Altablue, including oil &amp; gas and offshore jobs." onClick="ga('send', 'event', 'Iona', 'Click-Through', 'Viewed Altablue Jobs Board', 1);">view more jobs</a>
            </div>
        </div>
    </section>

    <section id="companies" class="stretch" data-stretch="/templates/template-2/imgs/hero/company-bg2.jpg">
        <div class="container">
            <div class="row full clearing">
                <section class="half col left flatleft">
                    <figure class="centered">
                        <img src="/templates/template-2/imgs/branding/IONA/iona.svg" onerror="this.onerror=null; this.src='/templates/template-2/imgs/branding/IONA/iona.png'" width="160" alt="Iona Energy Inc. is a Scotland-based Canadian oil and gas company focused on value creation from the mature parts of the oil and gas value chain"  title="Iona Energy Inc. is a Scotland-based Canadian oil and gas company focused on value creation from the mature parts of the oil and gas value chain"/>
                    </figure>
                    <p>Iona Energy Inc. is a Scotland-based Canadian oil and gas company focused on value creation from the mature parts of the oil and gas value chain, including appraisal and development of existing proven undeveloped oil and gas accumulations, redevelopment of previously producing fields and exploiting already existing producing fields through renewed late-life field development and increased oil recovery initiatives.</p>
                    <a href="http://www.ionaenergy.com/" target="_blank">View Website</a>
                </section>
                <section class="half col pushright flatright">
                    <figure class="centered">
                        <img src="/templates/template-2/imgs/branding/WG/logo-white.svg" onerror="this.onerror=null; this.src='/templates/template-2/imgs/branding/WG/logo-white.png'" title="Wood Group PSN, a division of Wood Group, are the largest provider of brownfield services to the oil and gas industry." alt="Wood Group PSN, a division of Wood Group, are the largest provider of brownfield services to the oil and gas industry. " width="220" height="60" />
                    </figure>
                    <p>Wood Group PSN, a division of Wood Group, are the largest provider of brownfield services to the oil and gas industry. Our global network of over 27,000 people in more than 40 countries offers high integrity services that optimise the performance of facilities, maintain production, reduce operating costs, ensure asset integrity and extend the operating life of fields.</p>
                    <a href="http://www.woodgroup.com/pages/default.aspx" target="_blank">View Website</a>
                </section>
            </div>
            <div class="row full">
                <figure class="centered">
                    <img src="/templates/template-2/imgs/branding/AB/altablue-white.svg" onerror="this.onerror=null; this.src='/templates/template-2/imgs/branding/AB/white-medium.png'" alt="Altablue is the sole resourcing services provider to Wood Group PSN. As a people based consultancy, we are all about great people which in turn means great business. We aim to provide the best service for jobseekers and companies alike within an extensive range of markets." title="Altablue is the sole resourcing services provider to Wood Group PSN. As a people based consultancy, we are all about great people which in turn means great business. We aim to provide the best service for jobseekers and companies alike within an extensive range of markets." width="220" height="60">
                </figure>
                <p>Altablue is the sole resourcing services provider to Wood Group PSN. As a people based consultancy, we are all about great people which in turn means great business. We aim to provide the best service for jobseekers and companies alike within an extensive range of markets. Our HQ is based in Aberdeen with a global footprint enabling us to place candidates all over the world in either a staff or contract capacity.</p>
                <a href="http://www.alta-blue.com/" target="_blank">View Website</a>
            </div>
        </div>
    </section>