<h1>the template layout file</h1>

<div ng-include="tempModules.freetext.path"></div>

<div ng-include="tempModules.projectjobs.path"></div>

<!--<moduleload modid="freetext"></moduleLoad>

<moduleload modid="projectjobs"></moduleLoad>-->